@import "tailwindcss";


@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply overflow-x-hidden text-gray-800;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .parallax-bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .text-shadow-lg {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
}

@theme{
    --color-negro-profundo:#000000;
    --color-dorado-tropical:#FFC60B;
    --color-azul-oceano:#368EC7;
    --color-verda-selva:#5EAE23;
    --color-verde-profundo:#298130;    


}

/* Mobile parallax fix */
@media (max-width: 768px) {
  .parallax-bg {
    background-attachment: scroll;
  }
}
